* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f7fa; 
    height: 90vh;
}

header, footer {
    height: 8vh; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fc6998; 
    color: white;
}

#logo{
    width: 4rem;
    height: 4rem;
    
}

#logo > img{
    width: 100%;
    border-radius: 50%;
}

#container {
    width: 90vw;
    height: 80vh;
    background-color: #fa8fb1e9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.817);
   
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}

.icon > img{
    width: 100%;
}

.saude{
    width: 2rem;
    height: 2rem;
}

.modal-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 537px){
    .icon{
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }
    .icon > p{
        font-size: medium;
    }
   
}

@media screen and (max-width: 430px){
    .icon{
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }
    .box > p{
        font-size: 10px;
    }
   
    
    .box{
        width:30%;
        padding: 0.2rem;
    }
   
}

